.center,
.quarter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#myLogo {
  float: right;
  margin-top: -40px;
}

.profiletext,
.movietext {
  color: #2d114c;
  font-family: monospace;
  font-size: 2cap;
  text-align: left;
  justify-content: center;
  background-color: #9e63dd4c;
  border-radius: 10px;
  margin-top: 12px;
  margin-right: 650px;
  margin-left: 50px;
  margin-bottom: 100px;
}

body {
  background-color: #d0e3e3;
  color: #3b1767;
  font-family: monospace;
}

h1 {
  text-align: center;
  color: #e9e0f5;
  text-shadow: 2px 1px #2d114c;
  background-color: #3b1767;
  border-radius: 18px;
  font-family: monospace;
  font-size: 8.5cap;
}

h2 {
  text-align: center;
  font-size: 4cap;
  text-shadow: 2px 1px #5b4277;
  color: #e9e0f5;
  background-color: #3b1767;
  border-radius: 10px;
  font-family: monospace;
  margin: 20px 50px 10px 50px;
}

h3 {
  text-align: center;
  font-size: 3cap;
  text-shadow: 2px 1px #5b4277;
  color: #e9e0f5;
  background-color: #3b1767;
  border-radius: 5.5px;
}

.hometext {
  color: #2d114c;
  font-family: monospace;
  font-size: 2cap;
  text-align: left;
  justify-content: center;
  background-color: #9e63dd4c;
  border-radius: 10px;
  margin: 50px 400px 100px 50px;
  margin-top: 100px;
}

.movieText {
  color: #2d114c;
  font-family: monospace;
  font-size: 2cap;
  text-align: left;
  justify-content: center;
  background-color: #9e63dd4c;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 50px;
}

#lists {
  color: #ffffff;
  font-family: monospace;
  font-size: 2.5cap;
  text-align: center;
  background-color: #2d114ccc;
  margin: 50px 50px 50px 50px;
  border-radius: 10px;
}

.infohome {
  text-align: center;
  float: center;
}

#hzLogo {
  float: right;
  margin: 0px 15px 10px 0px;
}

.social {
  text-align: center;
  margin-bottom: 3px;
}

a {
  text-align: left;
  box-shadow: 2px 2px #2005419d;
  background-color: #3b1767;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 2.5cap;
  font-family: monospace;
}

#cartoon {
  box-shadow: 2px 2px #2005419d;
  border-radius: 50px;
  float: right;
  margin-top: 10px;
  margin-right: 50px;
}

#ict {
  float: center;
  box-shadow: 2px 2px #2005419d;
  border-radius: 1000px;
}

table,
th,
td {
  text-align: center;
  border: 1px solid rgba(33, 16, 51, 0.669);
  width: 50%;
  background: #832dec38;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-family: monospace;
}

#eu {
  border-radius: 60px;
  box-shadow: 2px 2px #2005419d;
  float: right;
  margin: 5px 150px 100px 200px;
}

section {
  font-size: 1.7cap;
  font-family: monospace;
}

#kickAss {
  float: center;
  box-shadow: 2px 2px #2005419d;
  border-radius: 40px;
  margin: 5px 200px 5px 620px;
}

footer {
  text-align: center;
  font-size: 15px;
  display: block;
  background-color: #9e63dd4c;
  padding: 10px;
  margin-top: 30px;

  #logo {
    float: right;
    margin-top: -5px;
  }
}

details {
  margin-bottom: 5px;
  background-color: #5b4277b1;
  font-size: 18px;
  padding: 9px 9px;
  border-radius: 10px;
  justify-content: space-between;
  color: #e9e0f5
}

.progress {
  position: relative;
  width: 500px;
  height: 50px;
  background: #7fb1b8;
  border-radius: 15px;
  margin-bottom: 0px;
  margin-top: 50px;
  margin-left: 500px;

  .progressFill {
    width: 20%;
    height: 100%;
    background: #32a5a5;
    border-radius: 15px;
  }

  .progressText {
    position: absolute;
    top: 50%;
    right: 5px;
    font: bold 20px "monospace";
    color: white;
  }
}

#nbsaMinimum {
  font-size: 20px;
  color: rgb(48, 27, 73);
  margin-left: 840px;
  padding-bottom: 10;
}

.additionalText {
  font-size: 20px;
  background-color: #5b427786;
  border-radius: 10px;
  text-align: center;
}

p {
  text-align: center;
  color: #2d114c;
  font-family: monospace;
  font-size: 2cap;
}

.post {
  color: #2d114c;
  font-family: monospace;
  font-size: 2cap;
  text-align: left;
  background-color: #9e63dd4c;
}

img {
  border-radius: 15px;
}

#musica {
  margin-bottom: 20px;
}
.active{
  background-color:  #426c77;
}
 .success {
            background-color: #76d3cd; 
            color: #2e7d32; 
        }

        .fail {
            background-color: #eabdc2; 
            color: #c62828;
        }