.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  
  }


h1 {text-align: center;
  text-shadow: 2px 2px #832dec;
  font-size: 4.5cap;
}
h2{
  text-align: center;
  
}
body {
  background: rgb(200, 187, 205) url("img_tree.gif") no-repeat fixed center;
  background-image: url("photo2/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2.5cap;
}
a:link, a:visited {
  background-color: #832dec;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-family: monospace;

}

img{ border-radius: 4cap;
  float: left;
} 
a:hover, a:active {

  border-radius: 10px;
  font-family: monospace;

}

nav, ul{

  text-align: center;
}